body {
    width: 90%;
    margin: auto;
}

#container {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: 1fr 3fr 1fr;
}

#topSection {
    width: auto;
    grid-column: 3/4;
    display: flex;
    height: 3em;
    justify-content: center;
    margin-top: 3vh;
    background-color: rebeccapurple;
}

#searchBar {
    display: flex;
    justify-content: center;
}

#ingredientsInput {
    width: 90%;
    display: grid;
    grid-column: 2/3;
}

#carousel1, #carousel4, #carousel7 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    grid-row: 2/3;
    grid-column: 2/3;
}

#carousel2, #carousel5, #carousel8 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    grid-row: 2/3;
    grid-column: 3/4;
}

#carousel3, #carousel6, #carousel9 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    grid-row: 2/3;
    grid-column: 4/5;
}

#nxtBtn {
    align-self: center;
    grid-row: 2/3;
    grid-column: 5/6;
}

#prvBtn {
    align-self: center;
    grid-row: 2/3;
    grid-column: 1/2;
}

#wineScore{
    background-color: red;
    grid-row: 3/4;
    grid-column: 0/3;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    transition: all 500ms ease-in-out;
}
#wineScore:hover{
    background-color: darkred;
    transform: translateX(2em);
    border-bottom-right-radius: 80%;
    border-top-right-radius: 80%;
    grid-column: 0/6;
}

#spotify{
    background-color: green;
    grid-row: 3/4;
    grid-column: 5/6;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transition: all 500ms ease-in-out;
}
#spotify:hover{
    background-color: darkgreen;
    transform: translateX(-8em);
    border-bottom-left-radius: 80%;
    border-top-left-radius: 80%;
    grid-column: 0/6;
}